---
// Component Imports
import PageLayout from "../components/PageLayout";
import SDGLayout from "../components/SDGLayout";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/cde_logo.png" />
    <style>
      html,
      body {
        font-family: system-ui;
        margin: auto;
        max-width: 1728px;
        scroll-behavior: smooth;
        background-color: #f9f9f9;
      }
      main {
        padding: 2rem;
        position: relative;
      }
    </style>
  </head>
  <body>
    <PageLayout>
      <SDGLayout client:visible />
    </PageLayout>
  </body>
</html>
